{% extends "bases/base.html" %}
{% load static %}

{% block 'title' %}Solicitar exame{% endblock 'title' %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static "exames/css/style.css" %}">
{% endblock 'head' %}

{% block 'conteudo' %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }} mt-3 py-2 w-50 mx-auto text-center">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <h1>Solicitar exame</h1>

{% endblock 'conteudo' %}