{% extends "bases/base.html" %}
{% load static %}

{% block 'title' %}Login usuário{% endblock 'title' %}

{% block 'head' %}
    <link href="{% static 'usuarios/css/style.css' %}" rel="stylesheet">
{% endblock 'head' %}

{% block 'conteudo' %}
    <div class="container">
        <h3 class="font-destaque-secundaria mt-5">
            <img width="10%" src="{% static 'geral/img/logo.png' %}" alt="">Login
        </h3>
        {% if messages %}
            {% for message in messages %}
                <div class="alert {{ message.tags }} mt-3">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <div class="w-50">
            <form action="{% url 'login' %}" method="POST">{% csrf_token %}
                <div class="mb-3">
                    <label class="form-label">Username</label>
                    <input type="text" class="input-default form-control" name="username">
                </div>
                <div class="mb-4">
                    <label class="form-label">Senha</label>
                    <input type="password" class="input-default form-control" name="senha">
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <input type="submit" class="btn-default w-25" value="Acessar">
                    <a href="{% url "cadastro" %}" class="btn-default-secondary w-25">Cadastre-se</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
