body {
    background-image: url('/static/geral/img/bg2.png');
    background-size: cover;
    background-repeat: no-repeat;
}

/* p {
    color: var(--light-color);
} */

.bg-select {
    background-color: transparent;
    border-color: var(--differential-color);
    /* overflow: hidden; */
}

.bg-select:focus {
    background-color: var(--differential-color);
}

.card {
    background-color: rgba(217, 217, 217, .14);
    color: white;
    padding: 15px;
}

.previa-preco {
    float: right;
    font-weight: bold;
}

.btn-secundario-outline {
    background-color: transparent;
    border-color: #838FFF;
    padding: 10px;
}
